<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>이력서목록</title>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
</head>
<body>

<table class="table">
    <thead>
    <tr>
        <th>순번</th>
        <th>이름</th>
        <th>전화번호</th>
        <th>제목</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="resume, i : ${rList}">
        <td th:text="${i.count}"></td>
        <td th:text="${resume.id}"></td>
        <td th:text="${resume.phone_number}"></td>
        <td>
            <a th:href="@{|/resume/detail/${resume.id}|}" th:text="${resume.subject}"></a>
        </td>
    </tr>
    </tbody>
</table>

<a th:href="@{/resume/create}">이력서 등록하기</a>



</body>
</html>